<div class="container">
  <div class="row">
  <% @posts.each do |post| %>
     
      <div class="col-4">
        <div class="card mb-3">
          <%= image_tag(url_for(post.thumbnail),  height:'180px', weight:'1200px', class:"card-img-top") %>
          
          <h5 class="card-body">
            <%= link_to post.title, post %>
          </h5>
          
          <p class="text-align-justify">
            <%= post.body.to_plain_text.truncate_words(25) %>
          </p>
          
          <small class="card-footer">
            <p class="text-muted"><%= post.updated_at.strftime("%e %B") %> by <%= post.user.username %> | <%= pluralize(post.views, "View") %> | 0 commentaires</p>
          </small>
        </div>
      </div>  
  <% end %>
  </div>
</div>  

<div class="container">
  <div class="row">
      <div class="digg_pagination">
          <%= will_paginate @posts, :container => false %>
      </div>
  </div>
</div>